@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root {
  /* Toolbar-specific styles */
  --toolbar-button-height: 20px;
  --toolbar-button-width: 42px;
  --toolbar-height: 30px;
  --toolbar-background-color: #ffffffaa;

  /* Standard across the editor */
  --standard-border: 1px solid #F6F6F6;
  --standard-highlight-color: #c4c4ff;
  --standard-confirm-color: #caffc4;
  --standard-deny-color: #ffc4c4;
  --standard-highlight-transparent-color: #c4c4ff44;
  --standard-highlight-border: 1px solid #b3b3ee;
  --standard-confirm-border: 1px solid #b1ffa8;
  --standard-deny-border: 1px solid #ffa8a8;
  --standard-border-radius: 5px;
  --standard-button-color: #fafafa;

  --standard-blur: 10px;

  --small-color: #666666;
  
  --popover-background-color: #000000aa;
  
  --checkbox-text-color: #000000;
  --checkbox-disabled-border-color: #000000;

  --settings-background-color: #ffffff;
  --tabbar-button-color: #ffffff;
  
  font-family: Lexend, Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Toolbar-specific styles */
    --toolbar-background-color: #ffffffaa;

    /* Standard across the editor */
    --standard-border: 1px solid #666666;
    --standard-highlight-color: #c4c4ff;
    --standard-confirm-color: #caffc4;
    --standard-deny-color: #ffc4c4;
    --standard-highlight-transparent-color: #c4c4ff44;
    --standard-highlight-border: 1px solid #b3b3ee;
    --standard-confirm-border: 1px solid #b1ffa8;
    --standard-deny-border: 1px solid #ffa8a8;
    --standard-button-color: #636363;

    --small-color: #d4d4d4;
  
    --popover-background-color: #000000aa;
  
    --checkbox-text-color: #d4d4d4;
    --checkbox-disabled-border-color: #ffffff;

    --settings-background-color: #3b3b3b;
    --tabbar-button-color: #3b3b3b;
  }
}

/* Element styling */

button {
  padding: 1px 6px 1px 6px;
  background-color: var(--standard-button-color);
  font-family: Lexend, Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 200;
}

small {
  font-size: 10px;
  color: var(--small-color);
}

ol {
  list-style: none;
  margin: 0px;
  padding: 2px;
}

hr {
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
}
h1 {
  font-weight: 200;
}
h2 {
  font-weight: 200;
}
h3 {
  font-weight: 200;
}

[popover] {
  display: none;
}

[popover]:popover-open {
  position: fixed;
  border: none;
  background-color: var(--popover-background-color);
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  overflow: scroll;
  display:flex;
  padding: 0;
}

select {
  appearance: none;
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  font-family: Lexend, Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 200;
  background-color: var(--standard-button-color);
  padding: 1px 6px 1px 6px;
}

option {
  appearance: none;
  background-color: var(--standard-button-color);
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  font-family: Lexend, Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 200;
}

option:hover {
  background-color: var(--standard-button-color);
  border: var(--standard-highlight-border);
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: var(--standard-deny-border);
  vertical-align: text-top;
  background-color: var(--standard-deny-color);
  color: var(--checkbox-text-color);
}

input[type="checkbox"]::before {
  content: "";
  vertical-align: text-top;
  text-align: center;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="checkbox"]:checked {
  border: var(--standard-confirm-border);
  background-color: var(--standard-confirm-color);
}

input[type="checkbox"]:disabled {
  border-color: var(--checkbox-disabled-border-color);
  background: var(--standard-highlight-transparent-color);
  color: var(--standard-highlight-transparent-color);
}

input[type="number"] {
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
}

input[type="file"] {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
}

ol li {
  display: list-item;
  width: max-content;
  max-height: 24px;
}
/* Class Styling */

.settings-modal {
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  min-width: min-content;
  width: 50%;
  height: max-content;
  background-color: var(--settings-background-color);
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  justify-content: center;
}

.toolbar-menu-button {
  padding: 1px 6px 1px 6px;
  background-color: var(--standard-button-color);
  min-width: var(--toolbar-button-width);
  width: max-content;
  height: 100%;
  margin: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
}

.toolbar-menu-button:hover {
  background-color: var(--standard-highlight-color);
  border: var(--standard-highlight-border);
}

.toolbar-button {
  width: var(--toolbar-button-width);
  min-width: min-content; /* Needed for buttons with longer names */
  height: var(--toolbar-button-height);
  border: var(--standard-border);
  margin: 2px;
  border-radius: var(--standard-border-radius);
  position: relative;
}

.toolbar-button:hover {
  background-color: var(--standard-highlight-color);
  border: var(--standard-highlight-border);
}

.toolbar-menu {
  display: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: var(--standard-border-radius);
  backdrop-filter: blur(10px);
}

.menu-spacer:hover .toolbar-menu {
  display: block;
  position: relative;
  border: none;
  min-width: var(--toolbar-button-width);
  width: max-content;
  height: min-content;
  border-radius: var(--standard-border-radius);
}

.settings-header-button {
  width:42px !important;
  height:42px !important;
  text-align: center !important;
  padding: 0 !important;
}

.menu-spacer {
  width: 42px;
  height: min-content;
}

.cm-editor {
  outline: none !important;
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  flex-grow: 1;
  overflow: scroll !important;
  max-width: 90%;
}

.cm-activeLineGutter {
  background-color: var(--standard-highlight-transparent-color) !important;
}
.cm-activeLine {
  background-color: var(--standard-highlight-transparent-color) !important;
}

.deny-button:hover {
  background-color: var(--standard-deny-color);
  border: var(--standard-deny-border);
  border-radius: var(--standard-border-radius);
}

.confirm-button:hover {
  background-color: var(--standard-confirm-color);
  border: var(--standard-confirm-border);
  border-radius: var(--standard-border-radius);
}

.tabbar-button {
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  background-color: var(--tabbar-button-color);
  width: 70%;
  min-width: min-content;
}

.tabbar-button:hover {
  border: var(--standard-highlight-border);
  background-color: var(--standard-highlight-color);
}

.close-tab {
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  width: 22.41px;
  display: inline;
}

.tabbar-container {
  border: none;
  display: block;
}

/* Induvidual element styling */

#settings-header-container {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  position: sticky;
  border-bottom: var(--standard-border)
}

#toolbar {
  display: flex;
  flex-flow: row wrap;
  height: var(--toolbar-height);
  width: max-width;
  position: fixed;
  z-index: 100;
  /*backdrop-filter: blur(10px);*/
  
  background-color: var(--toolbar-background-color);
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
}

#settings-menu-container {
  min-width: min-content;
}

#settings-close-button {
  margin-right: 20px;
}

#editor-container {
  display: flex;
  width: 100%;
  height: min-content;
}
#tab-bar {
  flex-shrink: 2;
  width: min-content;
  max-width: max-content;
  height: min-content;
  display: block;
  padding: 1px 6px 1px 6px;
}
